html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h2 {
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; 
    margin-bottom: 20px; 
}

#MainContent_btnNewClient {
    background-color: lightblue;
    color: initial;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
}

    #MainContent_btnNewClient:hover {
        background-color: cadetblue;
    }

.search-box {
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
    width: 200px; 
}

    .search-box:focus {
        border-color: #007bff; 
        outline: none; 
    }


#MainContent_btnUpdate,
#MainContent_btnDelete {
    background-color: lightblue;
    color: initial;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    border: solid 0.5px;
}

    #MainContent_btnUpdate:hover,
    #MainContent_btnDelete:hover {
        background-color: cadetblue;
    }

.table {
    width: 80%;
    border-collapse: collapse;
}

    .table th, .table td {
        padding: 8px;
        border: 1px solid #ddd;
    }

    .table th {
        background-color: #f2f2f2;
        font-weight: bold;
        text-align: left;
    }

    .table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .table thead th {
        font-size: 20px;
    }

    .table tbody th {
        font-size: 14px;
        font-weight: normal;
    }
